
<div>
  <script>
    (function() {
      var cx = '005761542194985378346:ct7jbvbzofy';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
</div>

<header>
  <ul>
    <% if current_user %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Post a Question", new_question_path %></li>
      <li><%= link_to "Log Out", logout_path %></li>
    <% else %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Create Account", new_user_path %></li>
      <li><%= link_to "Log In", login_path %></li>
    <% end %>
  </ul>
  <h1> Flowing with Ruby </h1>
</header>

<ul>
<% @questions.each do |question| %>
<li> <%= link_to question.title, question_path(question) %> </li>
<% end %>
</ul>
