<% if current_user %>
  <header>
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Questions", questions_path %></li>
        <li><%= link_to "Log Out", logout_path %></li>
    </ul>
    <h1> Flowing with Ruby </h1>
  </header>
  <h1>Ask your question</h1>
  <%= form_with model: @question do |f| %>

    <%= f.text_field :title, placeholder: "Title" %><br><br>
    <%= f.text_area :description, size: "30x15", placeholder: "Enter your question here" %><br><br>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>

