<div class=up> <%=button_to 'Up', "/questions/#{@question.id}/upvote", {class: 'upVote'} %>
</div>

<h3 id='voteTest'><%= @vote_diff %></h3>
<div class=down>
  <div class=down> <%=button_to 'Down', "/questions/#{@question.id}/downvote", {class: 'downVote'} %>
</div>
<header>
  <ul>
    <% if current_user %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Questions", questions_path %></li>
      <li><%= link_to "Log Out", logout_path %></li>
    <% else %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Log In", login_path %></li>
      <li><%= link_to "Questions", questions_path %></li>
    <% end %>
  </ul>
  <h1> Flowing with Ruby </h1>
</header>

<h3><%= @question.title %></h3>
<%= @question.description %><br>
<br>
<br>
<h3><%= @answers.count %> Answers</h3>
<% @answers.each do |answer| %>
 <%= answer.description %><br><br>
<% end %>

<h3>Your Answer Here</h3>

<%= form_with model: @answer, url: "/questions/#{@question.id}/answers" do |f| %>

  <%= f.text_area :description, size: "30x15", placeholder: "Enter your answer here" %><br><br>
  <%= f.submit "Submit" %>

<% end %>
