<p> TEst</p>
<div class=up> <%=button_to 'Up', '/votes' %>
</div>


<div class=down>
  <div class=down> <%=button_to 'Down', '/votes' %>
</div>
<h3><%= @question.title %></h3>
<%= @question.description %><br>
<br>
<br>
<h3><%= @answers.count %> Answers</h3>
<% @answers.each do |answer| %>
 <%= answer.description %><br><br>
<%end %>

<h3>Your Answer Here</h3>

<%= form_with model: @answer, url: "/questions/#{@question.id}/answers" do |f| %>

  <%= f.text_area :description, size: "30x15", placeholder: "Enter your answer here" %><br><br>
  <%= f.submit "Submit" %>

<% end %>

