<header class="questions-nav">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Sign Up", new_user_path %></li>
    <li><%= link_to "Questions", questions_path %></li>
  </ul>
  <h1> Flowing with Ruby </h1>
</header>

<h2 id="login">Login</h2>

<div class="manage-padding">
  <%= form_with model: @user, url: "/sessions", method: "post", class: "form-style" do |f| %>
    <div>
      <%= f.email_field :email, placeholder: "Email", class: "mail" %>
    </div>
    <div>
      <%= f.password_field :password, placeholder: "Password", class: "pass" %>
    </div>
    <%= f.submit "Log In", class: "button" %>
  <% end %>
</div>