<header>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Log In", login_path %></li>
    <li><%= link_to "Questions", questions_path %></li>
  </ul>
  <h1> Flowing with Ruby </h1>
</header>

<h1>Sign up</h1>

<%= form_with model: @user do |f| %>

  Name: <%= f.text_field :name %><br>
  Email: <%= f.email_field :email %><br>
  Password: <%= f.password_field :password %><br>
  <%= f.submit "Submit" %>

<% end %>

