<header>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Log In", login_path %></li>
    <li><%= link_to "Questions", questions_path %></li>
  </ul>
  <h1> Flowing with Ruby </h1>
</header>

<h2>Sign up</h2>

<%= form_with model: @user, class: "form-style" do |f| %>

  <%= f.text_field :name, placeholder: "Name", class: "name" %><br>
  <%= f.email_field :email, placeholder: "Email", class: "email" %><br>
  <%= f.password_field :password, placeholder: "Password",class: "pass" %><br>
  <%= f.submit "Submit", class: "button" %>

<% end %>

