<!DOCTYPE html>
<html>
  <head>

    <title>FlowingWithRuby</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lora|Merriweather|Mina|PT+Sans|PT+Serif|Playfair+Display|Slabo+27px|Raleway:400,700|Lato:400,500,700' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <% flash.each do |name, msg| %>
      <div><%= msg %></div>
    <% end %>
    <%= yield %>
    <footer>
      <p> Contact Us</p>
      <section class="footer-style">
        <a href="https://twitter.com/Cubamex209"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/spotthebug/project1-flowing-with-ruby"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
      </section>
      <p class="copyright">&copy; Garima, Karthik, Omar, Mario 2018</p>
    </footer>
  </body>
</html>
